* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f9f8f6;
}

@keyframes pageFadeOut {
  to {
    opacity: 0;
  }
}


#coverpic {
  height: 55%;
  align-items: center;
  justify-content: center;
}
.landing-page {
  /* border: 2px solid red;  */
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0px;  
  padding: 0px;
}
.headline {
  /* border: 2px solid red;  */
  display: flex;
  justify-content: center ;
  height: 100px;
  width: 70vw;
  font-size: 30px;
  font-weight: 300;
  font-family: "Cinzel", serif;
  color:  #462b44;
  text-transform: uppercase;


}

.logo-reveal {
  height: 350px;          /* >= logo height */
  overflow: hidden;
  display: flex;
  align-items: flex-end; /* baseline stays here */
  justify-content: center;
}

.logo-img {
  height: 300px;
  opacity: 0;
  transform: translateY(120px); /* hidden below imaginary line */
  animation: riseFromLine 2s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes riseFromLine {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

